.welfare-wrapper
  display flex
  .welfare-center
    width 50%
    column-width: 200px;
    column-gap: 15px;
    max-width: 1100px;
    figure
      width: 95%
      border-radius: 5px;
      // background: #73717117;
      // border: 2px solid #fcfcfc;
      box-shadow: 1px 1px 5px 1px rgba(199,199,199,0.4);
      margin: 0 2px 15px;
      // padding: 15px;
      // padding-bottom: 10px;
      //transition: opacity .4s ease-in-out;
      display: inline-block;
      column-break-inside: avoid;
      z-index 11
      img
        width: 100%; height: auto
        // border-bottom: 1px solid #ccc;
        // padding-bottom: 15px;
        // margin-bottom: 5px;
    figcaption
        font-size: .9rem;
        color: #444;
        line-height: 1.5;
.welfare-div-title
     font-size: 14px;
     color: #212023;
.welfare-div-subtitle
     font-size: 10px;
     margin-top: 10px;
     color: #7b868c;
.welfare-div-money
     font-size: 14px;
     width: 100%;
     margin-top: 10px;
     margin-bottom: 5px;
 .welfare-div-oldmoney
    font-size: 10px;
    float: right;
    padding-right:10px;
    text-decoration:line-through;





